{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
      <link rel="stylesheet" href="{% static 'users/profile.css' %}">
      <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>PROFILE</title>
{% endblock title %}


{% block content %}
    {% if messages %}
         {%  for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                   {{ message }}
              </div>
         {% endfor %}
    {% endif %}
<!-- PUT YOUR CONTENT HERE-->
    <!-- <table class="table">
    <tr>
        <th>SUBJECT</th>
        <th>CLASSES ATTENDED</th>
        <th>CLASSES CONDUCTED</th>
    </tr>
    {% for a in attendances %}
        <tr>
        <td>{{a.subject.subject_short_form}}</td>
        <td>{{a.classes_attended}}</td>
        <td>{{a.classes_conducted}}</td>
        </tr>
    {% endfor %}
    </table> -->
    <div class="content">
    
        <input id="text-search" placeholder="Type to find..." type="search">
        <table id="data-table">
          <thead>
            <tr>
              <th title="Field #1" style="width: 200;">Subject</th>
              <th title="Field #2" style="width: 300;">Classes conducted</th>
              <th title="Field #3">Classes attended</th>
              <th title="Field #4">Percentage</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cs</td>
              <td>40</td>
              <td>30</td>
              <td>80</td>
              
            </tr>
    
        </tbody>
    </table>
    </div>
{% endblock content%}

