{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>CLASS-DETAILS</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
    <h1>CLASS DETAILS</h1>
        <p>semester : {{ class.semester }}</p>
        <p>section : {{ class.section_name }}</p>
        <p>department : {{ class.department.department_name }}</p>
        <p>class joining link : <a href="{{ class.link }}" target="__blank">Join Class</a></p>
        <p>timetable : <button><a href = "/media/{{class.timetable}}" target="__blank">TimeTable</a></button></p>
    </div>
{% endblock content %}

