{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>NOTES</title>
{% endblock title %}


{% block content %}
    <nav aria-label="breadcrumb" style="background-color:#1f2124">
        <ol class="breadcrumb" style="background-color:#1f2124 ">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.role == 'THR' %}
                <li class="breadcrumb-item"><a href="{% url 'view-notes-subject-list' %}">Class List</a></li>
                <li class="breadcrumb-item text-info" aria-current="page">create notes</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'view-notes-subject-list' %}">Subject List</a></li>
                <li class="breadcrumb-item text-info" aria-current="page">Notes List</li>
            {% endif %}
    </ol>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content container-fluid">
        <h1 class="mb-3">Notes</h1>
        {% if request.user.role == 'STD' %}
            {% if notes.count != 0 %}
                <h4 class="mb-3">Available notes</h4>
                <!--<div class=" table-responsive">-->
                <table id="data-table" class="table table-striped" style="border:1px;margin-bottom: 20px">
                    <thead class="thead-dark" style="opacity: 0.8">
                    <tr>
                        <th style="border-bottom: 2px solid black">Chapter Number</th>
                        <th style="border-bottom: 2px solid black">Chapter Name</th>
                        <th style="border-bottom: 2px solid black">Notes Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in notes %}
                        <tr>
                            <td>  {{ note.chapter_number }}</td>
                            <td> {{ note.chapter_name }}</td>
                            <td>
                                <button><a href="{{ note.link.url }}" target="__blank">Open notes</a></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--</div> -->
            {% else %}
                <h4>No notes added</h4>
            {% endif %}
        {% endif %}
        {% if request.user.role == 'THR' %}

            <div class="card border-dark col-xl-7 col-12 mb-3">
                <div class="card-body text-dark">
                    <div class="card-text">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <fieldset class="form-group ">
                                        <legend class="border-bottom mb-4">Add notes :</legend>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <button type="submit" class="btn btn-info mb-3" style="margin: auto">ADD NOTES
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            {% if notes.count != 0 %}
                <h4 class="mb-3">Available notes</h4>
                <!--<div class=" table-responsive">-->
                <table id="data-table" class="table table-striped" style="border:1px;margin-bottom: 20px">
                    <thead class="thead-dark" style="opacity: 0.8">
                    <tr>
                        <th style="border-bottom: 2px solid black">Chapter Number</th>
                        <th style="border-bottom: 2px solid black">Chapter Name</th>
                        <th style="border-bottom: 2px solid black">Notes Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in notes %}
                        <tr>
                            <td>  {{ note.chapter_number }}</td>
                            <td> {{ note.chapter_name }}</td>
                            <td>
                                <button><a href="{{ note.link.url }}" target="__blank">Open notes</a></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!--</div>-->
            {% else %}
                <h4>No notes added</h4>
            {% endif %}
        {% endif %}
    </div>


{% endblock content %}

