{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>ATTENDANCE</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
    <h1>NOTES</h1>
        {% if request.user.role == 'STD' %}
            {% if notes.count != 0 %}
                <h4>Available notes</h4>
            <table id="data-table" class="table " style="border:1px">
                <thead class="thead-dark">
                <tr>
                    <th style="border-bottom: 2px solid black">Chapter Number</th>
                    <th style="border-bottom: 2px solid black">Chapter Name</th>
                     <th style="border-bottom: 2px solid black">Notes Link</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td> <a href="{{ note.link }}"  target="_blank"> {{ note.chapter_number }}</a></td>
                        <td> <a href=" {{ note.link }}" target="_blank"> {{ note.chapter_name }}</a></td>
                        <td> <a href=" {{ note.link }}" target="_blank">{{ note.link}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% else %}
                <h4>No notes added</h4>
                {% endif %}
        {% endif %}
        {% if request.user.role == 'THR' %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
            <button type="submit">SUBMIT NOTES</button>
            </form>
            {% if notes.count != 0 %}
                <h4>Available notes</h4>
            <table id="data-table" class="table " style="border:1px">
                <thead class="thead-dark">
                <tr>
                    <th style="border-bottom: 2px solid black">Chapter Number</th>
                    <th style="border-bottom: 2px solid black">Chapter Name</th>
                     <th style="border-bottom: 2px solid black">Notes Link</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td> <a href="{{ note.link }}" target="_blank"> {{ note.chapter_number }}</a></td>
                        <td> <a href=" {{ note.link }}" target="_blank" >{{ note.chapter_name }}</a></td>
                        <td> <a href=" {{ note.link }}" target="_blank">{{ note.link}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
                {% else %}
                <h4>No notes added</h4>
                {% endif %}
        {% endif %}
    </div>


{% endblock content %}

