{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>SUBMISSIONS</title>
{% endblock title %}


{% block content %}
    <nav aria-label="breadcrumb" style="background-color:#1f2124">
        <ol class="breadcrumb" style="background-color:#1f2124 ">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user.role == 'THR' %}
                <li class="breadcrumb-item"><a href="{% url 'view-classes-assignment' %}">Class List</a></li>
                <li class="breadcrumb-item"><a href="{% url 'view-subject-assignment' classId=assignment.Class.id subjectId=assignment.subject.id%}">assignments</a></li>
                <li  class="breadcrumb-item text-info" aria-current="page">check Assignment</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'view-classes-assignment' %}">Subject List</a></li>
                 <li class="breadcrumb-item"><a href="{% url 'view-subject-assignment' classId=assignment.Class.id subjectId=assignment.subject.id%}">Assignments</a></li>
                <li  class="breadcrumb-item text-info" aria-current="page">Submit Assignment</li>
            {% endif %}
    </ol>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content container">
        <h1 class="mb-3">Submissions</h1>
        {% if request.user.role == 'THR' %}
            <div class="card border-dark col-lg-7 col-12 mb-3">
                <div class="card-header"><h4>{{ assignment.assignment_name }}</h4></div>
                <div class="card-body text-dark">
                    <div class="card-text">
                        <h5>Start time : {{ assignment.start_time }}</h5>
                        <h5>End time : {{ assignment.end_time }}</h5>
                        <p class="text-break">{{ assignment.description }}Read the description correctly before
                            answering marks spead is as
                            shfsdfasdfadfsdfadjfajdfjadfsklladsfjlkfdajlkdfsjlksjdflksjdflkown.it will never
                            overflow</p>
                    </div>
                    <button class="btn btn-md"><a href="/media/{{ assignment.question }}"
                                                  target="__blank">Question</a></button>
                </div>
            </div>


            <div class="card border-dark col-lg-7 col-12 mb-3">
                <div class="card-body text-dark">
                    <div class="card-text">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <fieldset class="form-group ">
                                        <legend class="border-bottom mb-4">Update student marks :</legend>
                                        {{ form|crispy }}
                                    </fieldset>
                                    <button type="submit" class="btn btn-info mb-3">UPDATE MARKS</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <!--<div class=" table-responsive">-->
            <table id="data-table" class="table table-striped" style="border:1px;margin-bottom: 20px">
                    <thead class="thead-dark" style="opacity: 0.8">
                <tr>
                    <th style="border-bottom: 2px solid black">Reg. Number</th>
                    <th style="border-bottom: 2px solid black">maximum marks</th>
                    <th style="border-bottom: 2px solid black">marks Given</th>
                    <th style="border-bottom: 2px solid black">Submitted at</th>
                    <th style="border-bottom: 2px solid black">answer</th>
                </tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td>{{ submission.student.user.username }}</td>
                        <td>{{ submission.assignment.maximum_marks }}</td>
                        <td>{{ submission.marks_obtained }}</td>
                        <td>{{ submission.time_submitted }}</td>
                        <td>
                            <button><a href="/media/{{ assignment.question }}" target="__blank">Answer</a></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!--</div>-->
        {% endif %}
        {% if request.user.role == 'STD' %}
            <div class="card border-dark col-xl-7 col-12 mb-3">
                <div class="card-header"><h4>{{ assignment.assignment_name }}</h4></div>
                <div class="card-body text-dark">
                    <div class="card-text">
                        <h5>Start time : {{ assignment.start_time }}</h5>
                        <h5>End time : {{ assignment.end_time }}</h5>
                        <p class="text-break">{{ assignment.description }}Read the description correctly before
                            answering marks spead is as
                            shfsdfasdfadfsdfadjfajdfjadfsklladsfjlkfdajlkdfsjlksjdflksjdflkown.it will never
                            overflow</p>
                    </div>
                    <button class="btn btn-md"><a href="/media/{{ assignment.question }}"
                                                  target="__blank">Question</a></button>
                </div>
            </div>
            {% if submission == 0 %}
                <h4 class="mb-3">Upload your answer script here : </h4>
                <div class="card border-dark col-lg-7 col-12 mb-3">
                    <div class="card-body text-dark">
                        <div class="card-text">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group ">
                                    <legend class="border-bottom mb-4">Submit the assignment :</legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <button type="submit" class="btn btn-info">SUBMIT ASSIGNMENT</button>
                            </form>
                        </div>
                    </div>
                </div>



            {% else %}


                <div class="card border-dark col-lg-7 col-12 mb-3">
                    <div class="card-body text-dark">
                        <div class="card-text">
                            <h4>You have already submitted the assignment</h4>
                <h5>Details as below : </h5>
                <p>Maximum marks : {{ submission.assignment.maximum_marks }}</p>
                {% if submission.marks_obtained != -1 %}
                    <p>Marks obtained : {{ submission.marks_obtained }}</p>
                {% else %}
                    <p>marks obtained : Not corrected</p>
                {% endif %}
                <p>Time submitted : {{ submission.time_submitted }}</p>
                <p>Answer script :
                    <button><a href="/media/{{ assignment.question }}" target="__blank">Answer</a></button>
                </p>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
    </div>


{% endblock content %}

