@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
body {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  color: #0a0a0a;
}

.content {
  max-width: 90%;
  margin: 50px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  text-transform: uppercase;
  font-family: "Amatic SC", sans-serif;
  border-bottom: 1px solid #242323;
}

thead th {
  padding: 5px;
  text-align: left;
}

tr {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

tr.hide {
  opacity: 0;
  height: 0;
}

td {
  padding: 6px;
  border-bottom: 1px solid #0e0d0d;
}

tr:hover td {
  background: #e6e6e6;
}
