{% extends 'users/main.html' %}
{% load static %}

{% block title %}
    <title>{{ error_no }}</title>
{% endblock title %}

{% block content %}
          <div class="content container-fluid">
              <div class="col-lg-3 col-lg-offset-3">
                  <div class="card">
                    <div class="card-header bg-transparent text-center">
                        <img  src="{% static 'error.png' %}"  alt="error image"/>
                        <h1>{{ error_no }}</h1>
                        <h4>{{ error_detail }}</h4>
                    </div>
                  </div>
              </div>
          </div>


{% endblock content%}
