{% include 'users/head.html' %}
{% load crispy_forms_tags %}
<title>LOGIN</title>
	</head>
	<body class="light-gray-bg text-center">
        <div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
                {% if messages %}
                    {%  for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
	          <h1>Login</h1>
	        </header>
	        <form method="POST" class="templatemo-login-form">
                {% csrf_token %}
	        			{{ form | crispy }}
				<div class="form-group">
					<button type="submit" class="templatemo-blue-button width-100">Login</button>
				</div>
	        </form>
		</div>
		<div class="templatemo-content-widget templatemo-login-widget templatemo-register-widget white-bg">
			<p>Forgort password? <strong><a href="{% url 'password_reset' %}" class="blue-text">Click here!</a></strong></p>
		</div>
    {% include 'users/scipts.html' %}
	</body>
</html>