{% extends 'users/main.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    <title>PASSWORD-RESET</title>
{% endblock title %}


{% block content %}
    <nav aria-label="breadcrumb" style="background-color:#1f2124">
        <ol class="breadcrumb" style="background-color:#1f2124 ">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item text-info" aria-current="page">Reset Password</li>
  </ol>
</nav>
<div class="content container-fluid">
		<div class="templatemo-content-widget templatemo-login-widget white-bg" style="margin-top: 150px;">
			<header class="text-center" style="margin-bottom: 20px;">
                    {% if messages %}
                    {%  for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
                <h3 class="pt-8 text-info" style="margin-top: 20px;">Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.</h3>
	        </header>
		</div>
</div>
{% endblock content%}

