{% load static %}
{% include 'users/head.html' %}
<title>RESET PASSWORD</title>
	</head>
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center" style="margin-bottom: 20px;">
                    {% if messages %}
                    {%  for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
            {% endif %}
                <h3 class="pt-8 text-info" style="margin-top: 20px;">Your Password has been reset.</h3>
	        </header>
        <a href="{% url 'login' %}"><button type="button" class="templatemo-blue-button width-100">Login In Here</button></a>
		</div>

{% include 'users/scipts.html' %}
	</body>
</html>