<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Visual Admin - Login</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
	    <link href="../../../static/users/font-awesome.min.css" rel="stylesheet">
	    <link href="../../../static/users/bootstrap.min.css" rel="stylesheet">
	    <link href="../../../static/users/templatemo-style.css" rel="stylesheet">

	</head>
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
	          <div class="square"></div>
	          <h1>Registration</h1>
	        </header>
	        <form action="index.html" class="templatemo-login-form">
	        	<div class="form-group">
					<h3 class="margin-bottom-10" style="font-size: 15px">Username</h3>
	        		<div class="input-group width-100">
		              	<input type="text" class="form-control pt-8" placeholder="user">
		          	</div>
	        	</div>
	        	<div class="form-group">
					<h3 class="margin-bottom-10" style="font-size: 15px">Email</h3>
	        		<div class="input-group width-100">
		              	<input type="text" class="form-control" placeholder="user@gmail.com">
		          	</div>
	        	</div>
				<div class="form-group">
					<h3 class="margin-bottom-10" style="font-size: 15px">Role</h3>
					<div class="input-group width-100">
						<select class="form-control">
						  <option>Student</option>
						  <option>Teacher</option>
						</select>
					  </div>
				</div>
				<div class="form-group">
					<h3 class="margin-bottom-10" style="font-size: 15px">Password</h3>
	        		<div class="input-group width-100">
		              	<input type="password" class="form-control" placeholder="******">
		          	</div>
	        	</div>
				<div class="form-group">
					<h3 class="margin-bottom-10" style="font-size: 15px">Confirm Password</h3>
	        		<div class="input-group width-100">
		              	<input type="password" class="form-control" placeholder="******">
		          	</div>
	        	</div>
				<div class="form-group">
					<button type="submit" class="templatemo-blue-button width-100">Register</button>
				</div>
	        </form>
	</body>
</html>