{% load static %}
{% include 'users/head.html' %}
	</head>
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center" style="margin-bottom: 20px;">
              <h1>Forgot your Password!!!</h1>
              <h5 class="pt-8 text-muted" style="margin-top: 20px;">Reset your password in one go!</h5>
              <h5 class="text-muted">Enter your email id so that we can help you</h5>
	        </header>
	        <form class="templatemo-login-form">
	        	<div class="form-group">
                      	<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>	        		
		              	<input type="email" name="email" id="email" class="form-control" value={{user.email}}>           
		          	</div>	
	        	</div>      	
				<div class="form-group">
					<button type="submit" class="templatemo-blue-button width-100">Submit</button>
				</div>
	        </form>
		</div>

{% include 'users/scipts.html' %}
	</body>
</html>