/*
Visual Admin Template
https://templatemo.com/tm-455-visual-admin
TABLE OF CONTENT
	1. Universal Styles
	2. Left Column
	3. Right Column
	4. Charts & Maps
	5. Login
	6. Manage Users
	7. Preferences
	8. Media Queries
----------------------------------------------*/
/* 1. Universal Styles
----------------------------------------------*/
* {	font-family: 'Open Sans', sans-serif; }
body {	font-size: 13px; }
body, .templatemo-left-nav { background: #1f2124; }
h1, h3 { margin: 0; }
h3 {
	color: #7f7f7f;
	font-size: 1.4em;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover { text-decoration: none; }
nav li {
	font-size: 1.1em;
	list-style: none;
	text-transform: uppercase;
}
.blue-text { color: #39ADB4; }
.white-bg {	background-color: white; }
.light-gray-bg { background-color: #efefef; }
.margin-bottom-10 {	margin-bottom: 10px; }
.width-100 { width: 100%; }

/* 2. Left Column
-----------------------------*/
.templatemo-sidebar { width: 300px; }
.templatemo-site-header { margin: 25px 30px; }
.templatemo-site-header h1 {
	color: white;
	display: inline-block;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0 5px;
	text-transform: uppercase;
	vertical-align: middle;
}

/* Search form */
.form-control:focus {
  border-color: #13895F;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(19,137,95,.075),0 0 8px rgba(19,137,95,.6);
}
.mobile-menu-icon {
	cursor:pointer;
	display:none;
	background-color: #7f7f7f;
}
.templatemo-left-nav li { font-weight: 300; }
.templatemo-left-nav a:hover {
	background: #18191b;
	color: #13895F;
	font-size: medium;
	border-left: 10px solid #13895F;
}
.templatemo-left-nav a {
	color: #e9e9ea;
	display: block;
	padding: 30px;
	transition: all 0.3s ease;
}
.templatemo-left-nav .fa { margin-right: 15px; }

/* Main Content Area */
.templatemo-content {
  margin-top: 0;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}
.templatemo-flex-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}

/* Content Widget */
.templatemo-content-widget {
	border-radius: 10px;
	padding: 30px;
	position: relative;
	margin: 10px;
 	box-shadow: 0 0 1px 1px rgba(161, 159, 159, 0.1);
}

/* 4. Charts & Maps - http://codepen.io/shoogledesigns/pen/BfLkA
----------------------------------------------------------------*/

/* JQVMap */

/* 5. Login
------------------------------*/
.templatemo-login-widget {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}
.templatemo-login-widget header { margin-bottom: 40px; }
.templatemo-login-widget h1 {
	display: inline-block;
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.templatemo-login-form .form-group { margin-bottom: 20px; }
.templatemo-login-form .form-group:last-child {	margin-bottom: 0; }
.input-group-addon { background: none; }
.templatemo-blue-button {
	border-radius: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.templatemo-blue-button {
	background-color: #39ADB4;
	border: none;
	color: white;
}
.templatemo-blue-button:hover {	background-color: #2A858B; }
.templatemo-register-widget {
	max-width: 450px;
	padding: 15px;
	text-align: center;
}
.templatemo-register-widget p {	margin-bottom: 0; }

/* 6. Manage Users
------------------------------*/

/* 7. Preferences
-------------------------------*/

/* 8. Media Queries
------------------------------*/
@media screen and (max-width: 1199px) and (min-width: 991px) {
	.templatemo-site-header { margin: 15px; }
	.templatemo-sidebar { width: 30vw;	}
	nav li { font-size: 1em; }
	.templatemo-left-nav a { padding: 15px; }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.templatemo-sidebar { width: 30vw; }
	.templatemo-site-header h1 { font-size: 2em; }
	.templatemo-left-nav a:hover {
		border-left: 10px solid #13895F;
	}
	.templatemo-left-nav a { padding: 15px; }
}

@media screen and (max-width: 992px) {
	nav li { font-size: 1em; }
	.templatemo-left-nav a { padding: 15px 10px; }
	.templatemo-left-nav a { padding: 15px; }
}
@media only screen and (min-width: 768px) {
	.templatemo-left-nav {	display: block !important; }
	.templatemo-left-nav a { padding: 15px; }
}


@media screen and (max-width: 767px) {
	.templatemo-flex-row { display: block; }
	.templatemo-site-header { margin: 20px 15px; }
	.templatemo-content-widget { padding: 15px;	}

	/* Left column */
	.templatemo-left-nav {
		display: none;
		position: fixed;
		top: 10px;
		right: 50px;
		height:fit-content;
		overflow: auto;
		width: 50vw;
		z-index: 999;
	}
	.templatemo-left-nav a:hover {
		border-left: 10px solid #13895F;
	}
	.mobile-menu-icon {
		cursor: pointer;
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 1000;
	}
	.mobile-menu-icon:hover .fa { background-color: #13895F }
	.mobile-menu-icon .fa {
		color: #fff;
		background-color: rgba(19,137,95,0.4);
		font-size: 1.5em;
		width: 40px;
		height: 40px;
		padding-top: 9px;
		padding-left: 11px;
	}
}

.alert {
    position: absolute;
	margin-bottom: 5px;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: visibility 0s, opacity 250ms, transform 250ms;
}


.alert.hide {
    position: absolute;
	margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}