{% extends 'users/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block css-imports %}
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <link rel="stylesheet" href="{% static 'attendance/main.css' %}">
{% endblock css-imports %}

{% block title %}
    <title>ATTENDANCE</title>
{% endblock title %}




{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
    <h1>MARKS</h1>
        {% if request.user.role == 'THR'%}
            <table id="data-table" class="table " style="border:1px">
                <thead class="thead-dark">
                <tr>
                    <th style="border-bottom: 2px solid black">Reg. Number</th>
                    <th style="border-bottom: 2px solid black">Name</th>
                    <th style="border-bottom: 2px solid black">CGPA</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td ><a
                               href="{%  url 'view_marks_detail_student' studentId=student.id classId=student.section.id subjectId=subjectId %}">{{ student.user.username }}</a>
                        </td>
                        <td ><a
                               href="{%  url 'view_marks_detail_student' studentId=student.id classId=student.section.id subjectId=subjectId %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>
                        </td>
                        <td><a
                               href="{%  url 'view_marks_detail_student' studentId=student.id classId=student.section.id subjectId=subjectId %}">{{ student.cgpa }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock content %}